chumpy==0.70
ffmpeg==1.4
h5py
human-body-prior
imageio
imageio-ffmpeg==0.4.3
ipdb==0.13.7
joblib==1.0.0
jupyter
learn2learn==0.1.5
matplotlib==3.0.2
numpy==1.19.1
open3d
opencv-python==4.5.1.48
pandas==1.0.5
Pillow==7.2.0
protobuf==3.15.6
pyrender==0.1.45
scikit-image==0.17.2
scikit-learn==0.22
scipy==1.5.4
smplx
tensorboard
tqdm==4.56.0
transforms3d==0.3.1
trimesh==3.9.9